@import "tailwindcss";
@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-scroll {
  animation: scroll 70s linear infinite; /*slower speed  */
  width: max-content; /* IMPORTANT */
  will-change: transform; /* Performance optimization */
}
 /* Pause on hover */
.animate-scroll:hover {
  animation-play-state: paused;
}
.material-symbols-outlined.filled {
    font-variation-settings:
        'FILL' 1,
}

